In [31]:
import pandas as pd  # Импортируем библиотеку pandas


pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)


df = pd.read_csv('adult.data', header=None, names=['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 
              'hours-per-week', 'native_country', 'income'])


df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours-per-week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [29]:
#1)Число столбцов в наборе данных
num_columns = df.shape[1]
print(f'Количество столбцов: {num_columns}')

Количество столбцов: 15

In [22]:
#2) Есть ли пропуски в данных? Если есть, то в каких столбцах
columns_with_nan = df.columns[df.isnull().any()]
if columns_with_nan.empty:
    print("Пропусков нет")
else:
    print(f'Столбцы с пропусками: {columns_with_nan.tolist()}')

Пропусков нет

In [23]:
#3)Кол-во уникальных значений в столбце race
unique_values_count = df['race'].nunique()


print(f'Количество уникальных значений в столбце "race": {unique_values_count}')

Количество уникальных значений в столбце "race": 5

In [26]:
#4) Вычисление медианы для столбца 'hours-per-week'
median_hours_per_week = df['hours-per-week'].median()

print(f'Медиана значений в столбце "hours-per-week": {median_hours_per_week}')

Медиана значений в столбце "hours-per-week": 40.0

In [34]:
#5) Кого больше - женщин или мужчин с ЗП >50K?
filter_income = df['income'] == ' >50K'

gender_counts = df[filter_income]['sex'].value_counts()

men = gender_counts.get(' Male', 0)
women = gender_counts.get(' Female', 0)

print(f'Количество мужчин: {men}')
print(f'Количество женщин: {women}')

if men > women:
    print("Ответ: Больше мужчин")
elif women > men:
    print("Ответ: Больше женщин")
else:
    print("Одинаково")

Количество мужчин: 6662
Количество женщин: 1179
Ответ: Больше мужчин

In [39]:

print("Количество пропусков в каждом столбце:")
print(df.isnull().sum())


for column in ['race', 'sex', 'income']:
    mode_value = df[column].mode()[0] 
    print(f'Мода столбца {column}: {mode_value}')  
    df[column].fillna(mode_value, inplace=True) 

# Проверяем результат
print("\nDataFrame после заполнения пропусков:")
print(df.isnull().sum())

Количество пропусков в каждом столбце:
age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours-per-week    0
native_country    0
income            0
dtype: int64
Мода столбца race:  White
Мода столбца sex:  Male
Мода столбца income:  <=50K

DataFrame после заполнения пропусков:
age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours-per-week    0
native_country    0
income            0
dtype: int64

/var/folders/0r/qf6dh2c57nscsj7v90f17w3m0000gn/T/ipykernel_4437/1131938619.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(mode_value, inplace=True)